{#
 # Homepage template
 # ---------------
 #}

{% extends "layouts/_layout.twig" %}

{% block content %}
<div id="mainWrap">
{# header #}
	{% include 'inc/header.twig' %}
{# main Content #}
	<main>
		<section id="NeuTeaser">
			<img src="http://fillmurray.com/700/700" alt="Neu Gif">		
		</section>
		<section >
			<p class="lead">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eius cupiditate odit quis modi dolorum, nesciunt saepe atque neque quidem sit blanditiis dolorem numquam, maxime at a itaque molestias labore.
			</p>
			<div id="Countdown">
				<p>Countdown</p>
			</div>
			<div id="accordeon">
				<div id="newsletter">
					<p>Newsletter Formular</p>					
				</div>
				<div id="links">
					<p>links zu Startseite (evtl mehr?)</p>
				</div>
			</div>	<!-- end #accordeon -->
		</section>
	</main>
{# footer #}
	{% include 'inc/footer.twig' %}

</div><!-- end #mainWrap -->


{% endblock %}
