{#
 # Homepage template
 # ---------------
 #}

{% extends "layouts/_layout.twig" %}

{% block content %}
<div id="mainWrap">
{# header #}
	{% include 'inc/header.twig' %}
{# main Content #}
	<main>
		<section>
			<img src="http://fillmurray.com/700/700" alt="Neu Gif">		
		</section>
		<section>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eius cupiditate odit quis modi dolorum, nesciunt saepe atque neque quidem sit blanditiis dolorem numquam, maxime at a itaque molestias labore.
			</p>
			<div id="Countdown">
				<p>Countdown</p>
			</div>
			<div id="accordeon">
				<div id="newsletter">
					<a class="toggle" href="#newsletterForm">
						<h3>Newsletter abonnieren</h3> <i>+</i>
					</a>
					<p id="newsletterForm" class="accordeonContent">Newsletter Formular</p>					
				</div>
				<div id="links">
					<a class="toggle" href="#startseite">
						<h3>zur Startseite</h3> <i>-></i>
					</a>
					<p id="startseite" class="accordeonContent">links zu Startseite (evtl mehr?)</p>
				</div>
			</div>	<!-- end #accordeon -->
		</section>
	</main>
{# footer #}
	{% include 'inc/footer.twig' %}

</div><!-- end #mainWrap -->


{% endblock %}
